.demo-card-event {
  width: 280px;
  height: 256px;
  background: #fff;
  margin: 5px;
}

.demo-card-event>.mdl-card__title>h5 {
  margin-top: 0;
}

#map {
  width: 100%;
  height: 310px;
}

#showShip {
  text-align: center;
}

#showRoute {
  text-align: center;
}

.table-container {
  width: 100%;
  overflow-y: auto;  
}